<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>userList</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1>Schedules</h1>
<br/><br/>
<div class="with:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>S.NO</th>
            <th>Employee Name</th>
            <th>Start Time</th>
            <th>Break</th>
            <th>Lunch</th>
            <th>Break</th>
<!--            <th>BullPen</th>-->
            <th>Chat</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="schedule : ${scheduleList}">
            <th scope="row" th:text="${schedule.id}">1</th>
            <td th:text="${schedule.name}">neo</td>
            <td th:text="${schedule.checkIn}">Otto</td>
            <td th:text="${schedule.firstBreak}">4</td>
            <td th:text="${schedule.lunch}">6</td>
            <td th:text="${schedule.secondBreak}">6</td>
            <td th:text="${schedule.comments}">6</td>
            <td><a th:href="@{/to-edit-schedule(id=${schedule.id})}">Edit</a></td>
<!--            <td><a th:href="@{/delete(id=${user.id})}">delete</a></td>-->
        </tr>
        </tbody>
    </table>
</div>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/to-add-schedule" th:href="@{/to-add-schedule}" class="btn btn-info">Add</a>
    </div>
</div>

</body>
</html>